.container{
    display: grid;
    grid-template: 50px 50px 50px / 1fr 2fr 1fr;
    gap: 5px 10px;
}

.item{
    background-color: orange;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
}