*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    width: 200px;
    text-align: left;
    height: 50px;
    padding: 0;
    display: inline-block;
}

th {
    background-color: #c00000;
}

th a, td a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

th a {
    color: white;
}

th , td{
    padding-left: 3px;
}

th:hover {
    background-color: #e00000;
}

tr:nth-child(odd) {
    background-color: #ffc000;
}
