* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #caed61;
    padding: 20px;
    text-align: center;
}

nav.opciones {
    background-color: #444;
    padding: 10px 0;
}

.lista {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.item a:hover {
    color: #caed61;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.perfil-img {
    max-width: 150px;
    border-radius: 50%;
}

.perfil-info {
    flex: 1;
}

.datos {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.datos h2 {
    margin-bottom: 10px;
}

.datos-list {
    list-style: none;
}

.datos-item {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

main.ciudad-container {
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.ciudad-container section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ciudad-container h2 {
    margin-bottom: 10px;
    color: #333;
}

.ciudad-container p {
    margin-bottom: 10px;
}

.ciudad-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.datos li{
    margin-left: 30px;
}


form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #caea5e;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}